[Ll]ibrary/
[Tt]emp/
[Oo]bj/
Test/Library/
Test/[Ll]ibrary/
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.user
/*.userprefs
/*.pidb
/*.booproj
sysinfo.txt
Test/Temp/UnityLockfile
Test/Library/assetDatabase3
Test/Library/assetDatabase3
Test/Library/guidmapper
Test/Library/CurrentLayout.dwlt
Test/Library/assetDatabase3
Test/Library/assetDatabase3
Test/Library/CurrentLayout.dwlt
Test/Library/guidmapper
Test/Library/
Test/Library/assetDatabase3
Test/Library/assetDatabase3
Test/Library/assetDatabase3
Test/Library/CurrentLayout.dwlt
Test/Library/shadercompiler-1.log
Test/Library/InspectorExpandedItems.asset
Test/Library/expandedItems
Test/Library/CurrentMaximizeLayout.dwlt
